{%extends "layout.html"%}
{%block body%}
<div class="Jokes">
<H1>Hello Joker!</h1>
  <h2>So you want a joke, well:</h2>
  <p>{{joke}}</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/q4_ZhpC9kU8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
</div>
{% endblock %}
